* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  color: red;
}

.wrapper {
  padding: 10px;
  max-width: 900px;
  min-width: 400px;
  margin: 0 auto;
  border: 1px solid black;
}

.menu {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
  list-style-type: none;
}

.menu li a {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ccc;
  font-size: 20px;
  text-decoration: none;
  color: royalblue;
}

.menu li a:hover {
  background-color: #aaa;
  box-shadow: 1px 1px 1px 1px gray;
}

.form {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  background-color: lemonchiffon;
  box-shadow: 0 0 5px 1px gray;
}

.form input[type="text"],
.form input[type="password"] {
  display: block;
  width: 300px;
  margin-bottom: 10px;
}

.form input[type="submit"] {
  cursor: pointer;
}
