$primaryColor: #1473ff;
$primaryColorLight: #76adfe;
$primaryColorDark: #003fdc;

$secondaryColor :#2121ff;
$secondaryColorLight :#7f7ffe;
$secondaryColorDark :#0000a6;

$accentColor: #ffa100;
$accentColorLight: #ffc869;
$accentColorDark: #ed9600;

$white: #fff;
$black: #000;
$gray: #666;