.form {
    &__login {
        width: 300px;
        margin: 20px auto;
        padding: 15px;

        .form {
            &__label {
                display: block;
                margin: 15px 0;

                &_text {
                    display: block;
                    color: $gray;
                    font-size: 16px;
                    line-height: 1.5em;
                }
            }

            &__input {
                box-sizing: border-box;
                display: block;
                width: 100%;
                border: 1px solid $gray;
                border-radius: 5px;
                padding: 0 10px;
                line-height: 1.5em;
                font-size: 24px;
            }

            &__submit {
                display: block;
                width: 100%;
                border: none;
                border-radius: 5px;
                background: $accentColor;
                padding: 0 15px;
                cursor: pointer;
                font-size: 18px;
                line-height: 2em;
                transition: background 0.5s ease;

                &:hover {
                    background: $accentColorLight;
                }
            }
        }
    }
}