@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
@import './colors.scss';

$font-family: 'Roboto';

* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

footer {
    color: $white;
    background-color: $primaryColor;
    padding: 15px 0;
    margin-top: 15px;
}

header {
    color: $white;
    background-color: $primaryColor;
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 20px;
}

@import './blocks.scss';