html{
    width: 100%;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type=text] {
    width: 500px !important;
    margin-left: 50px;
}
input[type=password] {
    width: 500px !important;
    margin-left: 23px;
    margin-top: 20px;
}
input[type=submit] {
    width: 200px !important;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
}