.modalOverlay {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    position: 'fixed';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: '1rem';
    background-color: 'rgba(0, 0, 0, 0.7)';
    z-index: '9999';
    opacity: 1;
    animation: 'show .5s ease';
    overflow-x: 'hidden';
    overflow-y: 'auto';
  }