.post{
    font-family: "Roboto";
    padding-top: 10px;
    padding-bottom: 10px;

}

hr{
    border: 1px dotted blue;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modalhidden {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 80px;
    border: 3px solid #888;
    width: 80%;
}


button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}